html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;
}

main {
  width: 100%;
}

aside {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

nav {
  width: 50%;
}

a {
  color: blue;
  text-decoration: none;
}

nav a {
  display: block;
}

@media only screen and (min-width: 768px) {
  main {
    width: 70%;
  }

  aside {
    position: unset;
    width: 30%;
    height: unset;
    background-color: unset ;
  }
}
