@font-face
{
    font-family: quicksand;
    src: url(assets/fonts/quicksand.ttf);
    font-variation-settings: 'wght' 100;
}

:root
{
    --primary-font: quicksand;
    --gray-custom: rgba(200, 200, 200, 0.8);
    --black-custom: rgba(0, 0, 0, 0.75);
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--primary-font), serif;
    font-weight: unset;
    color: black;
    outline: none;
}

h1 { font-size: 48pt; }

h2 { font-size: 14pt; }

.fixed { position: fixed; }

.absolute { position: absolute; }

.relative { position: relative; }

.top { top: 0; }

.left { left: 0; }

.bottom { bottom: 0; }

.right { right: 0; }

.w-200 { width: 200%; }

.w-100 { width: 100%; }

.w-95 { width: 95%; }

.w-max-270 { max-width: 270px; }

.vh-100 { height: 100vh; }

.vh-12 { height: 12vh; }

.h-100 { height: 100%; }

.h-10 { height: 10%; }

.m-auto { margin: auto; }

.m-w-auto { margin: 0 auto; }

.m-1 { margin: 1em; }

.m-b-1 { margin-bottom: 1em; }

.p-1 { padding: 1em; }

.p-f2 { padding: 0.2em; }

.p-2f25p { padding: 2.25%; }

.p-12vh { padding: 12vh; }

.p-v-1 { padding: 1em 0; }

.p-b-1 { padding-bottom: 1em; }

.block { display: block; }

.flex  { display: flex; }

.flex-wrap { flex-wrap: wrap; }

.flex-nowrap { flex-wrap: nowrap; }

.flex-col { flex-direction: column; }

.align-center { align-content: center; }

.align-between { align-content: space-between; }

.align-around { align-content: space-around;}

.justify-center { justify-content: center; }

.justify-between { justify-content: space-between; }

.justify-around { justify-content: space-around;}

.list-style-none { list-style: none; }

.text-center { text-align: center; }

.text-right { text-align: right; }

.text-capitalize { text-transform: capitalize; }

.text-decoration-none { text-decoration: none; }

.border-none { border: none; }

.border-solid { border-style: solid; }

.border-black { border-color: black; }

.border-w-1f5 { border-width: 1.5px; }

.border-radius-f1 { border-radius: 0.1em; }

.fit-cover { object-fit: cover; }

.fit-fill { object-fit: fill; }

.pos-lt { object-position: left top; }

.pos-rt { object-position: right top; }

.invert { transform: rotate(180deg); }

.color-gray-hover:hover { color: gray; }

.bg-transparent { background-color: transparent; }

.bg-white { background-color: white; }

.bg-whitesmoke { background-color: whitesmoke; }

.bg-black { background-color: var(--black-custom); }

.bg-gray-active:active { background-color: var(--gray-custom); }

.selectable { cursor: pointer; }

.ease-f2 { transition: all 200ms ease; }

.ease-f75 { transition: all 750ms ease; }

.ease-2 { transition: all 2s ease; }

.origin-center { transform-origin: 50% 50%; }

.translate-left-84 { transform: translateX(-84%); }

.translate-left-125 { transform: translateX(-125%); }

.translate-right-84 { transform: translateX(84%); }

.translate-right-125 { transform: translateX(125%); }

.scale-f75 { transform: scale(0.75); }

.opacity-0 { opacity: 0; }

.opacity-f5 { opacity: 0.5; }

.opacity-f75-hover:hover { opacity: 0.75; }

.closed { display: none; }

.z-1 { z-index: 1; }

.z-2 { z-index: 2; }

.z-3 { z-index: 3; }

@media only screen and (min-width: 300px)
{
    .sm-inline { display: inline; }
}

@media only screen and (min-width: 600px)
{
    h2 { font-size: 24pt; }

    .lg-p-1 { padding: 1em; }
}