@font-face 
{
    font-family: quicksand;
    src: url(assets/fonts/quicksand.ttf);
    font-variation-settings: 'wght' 100;
}

:root 
{
    --primary-font: quicksand;
    --gray-custom: rgba(200, 200, 200, 0.8);
    --black-custom: rgba(0, 0, 0, 0.75);
}

* 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--primary-font), serif;
    font-weight: unset;
    color: black;
    outline: none;
}

h1 { font-size: 48pt; }

h2, p, input, textarea { font-size: 10pt; }

textarea { resize: none; }

.fixed { position: fixed; }

.absolute { position: absolute; }

.relative { position: relative; }

.fl-left { float: left; }

.top { top: 0; }

.left { left: 0; }

.bottom { bottom: 0; }

.right { right: 0; }

.w-200 { width: 200%; }

.w-100 { width: 100%; }

.w-95 { width: 95%; }

.w-80 { width: 80%; }

.w-10 { width: 10%; }

.w-2em { width: 5em; }

.w-max-800 { max-width: 800px; }

.w-max-270 { max-width: 270px; }

.w-max-200 { max-width: 200px; }

.h-fit { height: fit-content; }

.h-100vh { height: 100vh; }

.h-75vh { height: 75vh; }

.h-65vh { height: 65vh; }

.h-45vh { height: 45vh; }

.h-25vh { height: 25vh; }

.h-20vh { height: 20vh; }

.h-15vh { height: 15vh; }

.h-12vh { height: 12vh; }

.h-10vh { height: 10vh; }

.h-100 { height: 100%; }

.h-25 { height: 25%; }

.h-10 { height: 10%; }

.m-auto { margin: auto; }

.m-h-auto { margin-top: auto; margin-bottom: auto; }

.m-w-auto { margin-right: auto; margin-left: auto; }

.m-1 { margin: 1em; }

.m-h-1 { margin-top: 1em; margin-bottom: 1em; }

.m-w-1 { margin-left: 1em;  margin-right: 1em; }

.m-r-1 { margin-right: 1em; }

.m-b-1 { margin-bottom: 1em; }

.m-b-f5 { margin-bottom: 0.5em; }

.p-12vh { padding: 12vh; }

.p-2f25p { padding: 2.25%; }

.p-1 { padding: 1em; }

.p-f2 { padding: 0.2em; }

.p-f5 { padding: 0.5em; }

.p-h-24vh { padding-top: 24vh; padding-bottom: 24vh; }

.p-h-12vh { padding-top: 12vh; padding-bottom: 12vh; }

.p-h-1 { padding-top: 1em; padding-bottom: 1em; }

.p-h-10vh { padding-top: 10vh; padding-bottom: 10vh; }

.p-h-f5 { padding-top: 0.5em; padding-bottom: 0.5em; }

.p-w-1 { padding-left: 1em; padding-right: 1em; }

.p-w-4 { padding-left: 4em; padding-right: 4em; }

.p-t-1 { padding-top: 1em; }

.p-t-0 { padding-top: 0; }

.p-b-1 { padding-bottom: 1em; }

.p-b-0 { padding-bottom: 0; }

.inline { display: inline; }

.block { display: block; }

.inline-block { display: inline-block; }

.flex  { display: flex; }

.flex-wrap { flex-wrap: wrap; }

.flex-nowrap { flex-wrap: nowrap; }

.flex-col { flex-direction: column; }

ul.flex-ul-li > li { display: flex; }

ul.flex-col-ul-ui > li {flex-direction: column; }

.grid { display: grid; }

.grid-col-4 { grid-template-columns: repeat(4, 1fr); }

.align-center { align-content: center; }

.align-items-center { align-items: center; }

.align-items-end { align-items: flex-end; }

.align-between { align-content: space-between; }

.align-around { align-content: space-around;}

.justify-center { justify-content: center; }

.justify-end { justify-content: flex-end; }

.justify-between { justify-content: space-between; }

.justify-around { justify-content: space-around;}

ul.align-items-center-ul-li > li { align-items: center; }

.list-style-none { list-style: none; }

.text-center, ul.text-center > li { text-align: center; }

.text-left { text-align: left; }

.text-right { text-align: right; }

.text-capitalize { text-transform: capitalize; }

.text-decoration-none { text-decoration: none; }

.text-bold { font-weight: bold; }

.text-wrap-break { word-wrap: break-word; }

.border-none { border: none; }

.border-solid { border-style: solid; }

.border-black { border-color: black; }

.border-w-1f5 { border-width: 1.5px; }

.border-radius-f1 { border-radius: 0.1em; }

.fit-contain { object-fit: contain; }

.fit-cover { object-fit: cover; }

.fit-fill { object-fit: fill; }

.pos-lt { object-position: left top; }

.pos-rt { object-position: right top; }

.invert { transform: rotate(180deg); }

.color-inherit { color: inherit; }

.color-darkred { color: darkred; }

.color-gray-hover:hover { color: gray; }

.bg-transparent { background-color: transparent; }

.bg-white { background-color: white; }

.bg-whitesmoke { background-color: whitesmoke; }

.bg-black { background-color: var(--black-custom); }

.bg-gray { background-color: var(--gray-custom); }

.bg-yellow { background-color: yellow; }

.bg-gray-active:active { background-color: var(--gray-custom); }

.selectable { cursor: pointer; }

.overflow-scroll { overflow-y: scroll; }

.whitespace-pre { white-space: pre; }

.ease-f2 { transition: all 200ms ease; }

.ease-f75 { transition: all 750ms ease; }

.ease-2 { transition: all 2s ease; }

.origin-center { transform-origin: 50% 50%; }

.origin-top { transform-origin: top; }

.translate-left-84 { transform: translateX(-84%); }

.translate-left-125 { transform: translateX(-125%); }

.translate-right-84 { transform: translateX(84%); }

.translate-right-125 { transform: translateX(125%); }

.scale-f75 { transform: scale(0.75); }

.scale-y-0  { transform: scaleY(0); }

.opacity-0 { opacity: 0; }

.opacity-f5 { opacity: 0.5; }

.opacity-f75-hover:hover { opacity: 0.75; }

.closed { display: none; }

.z-1 { z-index: 1; }

.z-2 { z-index: 2; }

.z-3 { z-index: 3; }

@media only screen and (min-width: 300px) and (min-height: 300px)
{    
    h2, p, input, textarea { font-size: 12pt; }

    .sm-fl-left { float: left; }

    .sm-w-60 { width: 60%; }

    .sm-h-65vh { height: 65vh; }

    .sm-m-r-1-b-1 { margin: 0 1em 1em 0; }

    .sm-m-r-1 { margin-right: 1em; }

    .sm-m-b-0 { margin-bottom: 0em; }

    .sm-p-h-10vh-w-f5 { padding: 10vh 0.5em; }

    .sm-inline { display: inline; }

    .sm-inline-block { display: inline-block; }
}

@media only screen and (min-width: 600px) and (min-height: 800px)
{    
    h2, p, input, textarea { font-size: 18pt; }

    .lg-w-50 { width: 50%; }

    .lg-m-auto { margin: auto; }

    .lg-m-r-1-b-1 { margin: 0 1em 1em 0; }

    .lg-p-h-24vh-w-2 { padding: 24vh 2em; }

    .lg-p-h-12vh-w-2 { padding: 12vh 2em; }

    .lg-p-h-1 { padding: 1em 0; }

    .lg-p-w-2 { padding: 0 2em; }

    .lg-h-50vh { height: 50vh; }
    
    .lg-h-50 { height: 50%; }

    .lg-p-1 { padding: 1em; }

    .lg-grid-col-5 { grid-template-columns: repeat(5, 1fr); }
}

@media only screen and (min-width: 1200px) and (min-height: 800px)
{   
    .xl-flex { display: flex; }

    .xl-float-none { float: none; }

    .xl-h-80vh { height: 80vh; }

    .xl-h-75vh { height: 75vh; }
    
    .xl-h-50vh { height: 50vh; }
    
    .xl-h-80 { height: 80%; }
    
    .xl-m-3 { margin: 3em; }

    .xl-m-b-3 { margin-bottom: 3em; }
    
    .xl-m-w-3 { margin: 0 3em; }
    
    .xl-p-3 { padding: 3em; }

    .xl-inline { display: inline; }

    .xl-grid-col-7 { grid-template-columns: repeat(7, 1fr); }
}